.result {
    display: flex;
    align-items: center;
}

.delete_item {
    height: 20px;
    margin-left: 10px;
    padding: auto;
}

button:hover {
    cursor: pointer;
}

p {
    font-weight: bold;
}

#color {
    font-weight: bold;
}